art==4.1
ascii-art==0.1.0
astral==1.10.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
coverage==4.5.4
docopt==0.6.2
emojislib==0.0.1
Flask==1.1.1
flask-swagger==0.2.14
flask-swagger-ui==3.20.9
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
num2words==0.5.10
Pint==0.9
pytz==2019.3
PyYAML==5.2
requests==2.22.0
syllables==0.1.0
urllib3==1.25.8
Werkzeug==0.16.0
words2num==0.2.3
pytest==5.3.2
pytest-cov==2.8.1
